
body{
    background: black;
}

H1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    /*
    A propriedade text-transform no CSS é usada para controlar a capitalização (maiúsculas e minúsculas) do texto em um elemento.
    Ela não muda o conteúdo original do texto, apenas a forma como ele é exibido na tela.
    none - Mantém o texto como está (padrão).
    uppercase - Transforma todas as letras em maiúsculas.
    lowercase - Transforma todas as letras em minúsculas.
    capitalize - Transforma a primeira letra de cada palavra em maiúscula.
    full-width - Converte caracteres em uma forma de largura total, usada em alguns idiomas asiáticos.
    */
    text-align: center;
    background: linear-gradient(to right, #fc72ff,#8f68ff,#487bff,#8f68ff);
    background-size: 200%;/* altera a posição das cores , deixando mas predominante uma cor*/
    background-clip: text;/*retirou a faixa de cores do fundo*/
    -webkit-text-fill-color: transparent;/*tirou o preto da letra deixando aparecer a faixa por traz das cores do gradiente*/
    animation: animate-gradient 4s linear infinite;
    /*animate-gradient - e o nome dado*/


}
@keyframes animate-gradient{
    to{
        background-position: 200%;/*aqui o efeito,*/
    }

}